body { padding-top: 70px; }

h4 {
  font-weight: 200;
}
.element-item {
  width: 20%;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

.element-item a {
  text-decoration: none;
  color: white;
}

.navbar-inverse .navbar-nav>li>a{
  color: white;
}
.grid .ExpressionDatabases{
  background-color: #5D4157;
}
.grid .eQTLDatabases{
  background-color: #413E4A;
}
.grid .ExpressionDatabases{
  background-color: #99B2B7;
}
.grid .HumanVariationsDatabases{
  background-color: #A7DBD8;
}
.grid .FunctionalandGenomicDatabases{
  background-color: #594F4F;
}
.grid .SummaryStatistics{
  background-color: #68B3AF;
}
.grid .ToolsforAnalysis {
  background-color: #7A6A53;
}
.grid .PrimaryforPharmacogenomics{
  background-color: #AACCB1;
}
.grid .Genotype-PhenotypeDatabases{
  background-color: #547980;
}

.about .ExpressionDatabases{
  color: #5D4157;
}
.about .eQTLDatabases{
  color: #413E4A;
}
.about .ExpressionDatabases{
  color: #99B2B7;
}
.about .HumanVariationsDatabases{
  color: #A7DBD8;
}
.about .FunctionalandGenomicDatabases{
  color: #594F4F;
}
.about .SummaryStatistics{
  color: #68B3AF;
}
.about .ToolsforAnalysis {
  color: #7A6A53;
}
.about .PrimaryforPharmacogenomics{
  color: #AACCB1;
}
.about .Genotype-PhenotypeDatabases{
  color: #547980;
}
