/*body { padding-top: 70px; }*/

h4 {
  font-weight: 200;
  font-size: 1.2rem;
}
.element-item {
  width: 20%;
  min-width: 200px;
  margin: 5px;
  border-radius: 5px;
  color: white;
  border-width: 1px;
  border-style: solid;
}

.element-item .header{
  padding: 10px;
}

.element-item .description{
  background-color: white;
  color:#434343;
  padding: 10px;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

}

.element-item small{
  font-size: 75%;
  font-weight: 100;
}
.about .element-item:hover{
  filter: brightness(110%);
}

.element-item a {
  text-decoration: none;
  color: white;
}

.navbar-inverse .navbar-nav>li>a{
  color: white;
}
ul{
  cursor: pointer;
}
ul .btn-filter{
  padding: 3px;
}
ul .btn-filter:hover{
  box-shadow: 0px 4px 21px #717171;
}
.PGxPrimaryTools-text{
  color:#aaccb1;
}
.Genotype-PhenotypeDatabases-text{
  color: #547980;
}
.ExpressionDatabases-text{
  color: #5D4157;
}
.eQTLDatabases-text{
  color: #413E4A;
}
.ExpressionDatabases-text{
  color: #99B2B7;
}
.HumanVariationsDatabases-text{
  color: #A7DBD8;
}
.FunctionalandGenomicDatabases-text{
  color: #594F4F;
}
.ToolsforAnalysis-text{
  color: #7A6A53;
}
.SummaryStatistics-text{
  color:#68B3AF;
}

.ExpressionDatabases{
  background-color: #5D4157;
  border-color: #5D4157;

}
.eQTLDatabases{
  background-color: #413E4A;
  border-color: #413E4A;
}
.ExpressionDatabases{
  background-color: #99B2B7;
  border-color: #99B2B7;
}
.HumanVariationsDatabases{
  background-color: #A7DBD8;
  border-color: #A7DBD8;
}
.FunctionalandGenomicDatabases{
  background-color: #594F4F;
  border-color: #594F4F;
}
.SummaryStatistics{
  background-color: #68B3AF;
  border-color: #68B3AF;
}
.ToolsforAnalysis {
  background-color: #7A6A53;
  border-color: #7A6A53;
}
.PGxPrimaryTools{
  background-color: #AACCB1;
  border-color: #AACCB1;
}
.Genotype-PhenotypeDatabases{
  background-color: #547980;
  border-color: #547980;
}
